:root {
    --turk: #0FA3B1;
    --bleu: #B5E2FA;
    --blanc: #F9F7F3;
    --jaune: #EDDEA4;
    --orange: #F7A072;
    --ombre: rgba(0, 0, 0, 0.6);
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(180deg, var(--orange), var(--jaune));
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 1600px;
}
section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(65deg, var(--orange), var(--jaune));
    margin: 10px 0 10px 0;
    text-align: center;
    width: 450px;
    height: 250px;
    transition: 0.3s ease-in-out;
}
a {
    text-decoration: none;
    filter: drop-shadow(2px 2px 8px var(--ombre));
    color: var(--ombre);
}
section:hover {
    background: linear-gradient(125deg, var(--orange), var(--jaune));
    box-shadow: inset -2px -2px 40px var(--ombre);
    border: 2px solid var(--ombre);
    transform: scale(1);
}
a section:hover > h1,
a section:hover > h2,
a section:hover > h3 {
    transform: scale(0.9);
}
h2 {
    width: 70%;
    color: var(--turk);
    filter: contrast(1.5);
}
h3 {
    width: 90%;
}

@media screen and (min-width: 750px) {
    main {
        flex-flow: row wrap;
        align-items: space-around;
        justify-content: space-around;
        width: 100vw;
        height: 100vh;
    }
}